.sw-bigmodal {
	h1, h2, h3, h4, h5, p {
		font-weight: 200;
		color: #212121;
	}
	&-title {
		h1 {
			font-size: 60px;
		}
		h2 {
			font-size: 40px;
			span {
				margin: 0 30px;
			}
		}
		h3 {
			font-size: 30px;
		}
		&--green {
			color: #1dc832;
		}
	}
	&-description p {
		font-size: 24px;
		padding: 0 20px 100px;
	}
	&-cast {
		background-color: #f7f7f7;
		.sw-title--black {
			color: #212121;
		}
		.sw-image.ui.small.image {
			object-fit: cover;
			height: 150px;
		}
	}
	.sw-addbutton {
		&.ui.massive.button {
			font-size: 55px;
			margin: 0;
		}
	}
	.sw-youtube {
		padding-top: 1rem;
		&--white {
			background-color: #fff;
		}
	}
	&-icon {
		position: absolute;
		z-index: 9999;
		right: 0;
	}
}
