.sw-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 0 100px;
	cursor: pointer;
	&-image {
		border: 1px solid rgba(255, 255, 255, .5);
	}
	&-title {
		&--green {
			color: #1dc832;
		}
		background-color: white;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 200;
		padding: 5px;
		position: absolute;
		bottom: 225px;
	}
	&::before, &::after {
		display: block;
		height: 200px;
		content: '';
		border-width: 1px;
		border-style: solid;
	}
	&::before {
		border-image:
			linear-gradient(
					to top,
					rgba(255, 255, 255, .5),
					rgba(0, 0, 0, 0)
			) 1 100%;
	}
	&::after {
		border-image:
			linear-gradient(
					to bottom,
					rgba(255, 255, 255, .5),
					rgba(0, 0, 0, 0)
			) 1 100%;
	}

	&.top {
		.sw-card-title {
			bottom: 325px;
		}
		&::before {
			height: 100px;
		}
		&::after {
			height: 300px;
		}
	}
	&.bottom {
		.sw-card-title {
			bottom: 125px;
		}
		&::before {
			height: 300px;
		}
		&::after {
			height: 100px;
		}
	}
	&--dimmed.sw-card {
		opacity: .5;
	}
}
