.sw-header {
	height: 150px;
	background-image: linear-gradient(rgba(29, 200, 50, .5), transparent);
	.sw-navigation {
		display: flex;
		div {
			margin: 0 20px;
			font-size: 20px;
			font-weight: 200;
			cursor: pointer;
			&.active {
				font-weight: 400;
			}
		}
	}
	.sw-logo {
		filter: invert(100%);
	}
	.sw-characters-image {
		margin: 0 5px;
	}
	.row.sw-characters {
		justify-content: flex-end;
		align-items: center;
	}
	img {
		cursor: pointer;
	}
}
